<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:if value="$(arg is_simulation)">
        <xacro:macro name="ros2control_swerve_module_iface" params="name drive_id turn_id">
            <joint name="db_${name}_fork_tyre_joint">
                <command_interface name="velocity">
                    <param name="min">-2</param>
                    <param name="max">2</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="db_${name}_smount_fork_joint">
                <command_interface name="position">
                    <param name="min">-2</param>
                    <param name="max">2</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
        </xacro:macro>

        <xacro:macro name="ros2control_drivebase_suspension_pivot" params="side">
            <joint name="${side}db_pivot_joint">
                <state_interface name="position"/>
            </joint>
        </xacro:macro>
    </xacro:if>
    <xacro:unless value="$(arg is_simulation)">
        <xacro:macro name="ros2control_swerve_module_iface" params="name drive_id turn_id">
            <!-- TODO: set ratios correctly -->
            <xacro:bg431_motor name="db_${name}_fork_tyre_joint" device_index="${drive_id}" ratio="1" use_auxilary="false"/>
            <xacro:bg431_motor name="db_${name}_smount_fork_joint" device_index="${turn_id}" ratio="1" use_auxilary="true"/>
        </xacro:macro>

        <xacro:macro name="ros2control_drivebase_suspension_pivot" params="side"/>
    </xacro:unless>

    <ros2_control name="RobotSystem" type="system">
        <xacro:if value="$(arg is_simulation)">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:if>

        <!-- Drivebase drive motors -->
        <xacro:ros2control_swerve_module_iface name="fl" drive_id="1" turn_id="2"/>
        <xacro:ros2control_swerve_module_iface name="fr" drive_id="3" turn_id="4"/>
        <xacro:ros2control_swerve_module_iface name="bl" drive_id="5" turn_id="6"/>
        <xacro:ros2control_swerve_module_iface name="br" drive_id="7" turn_id="8"/>
        <xacro:ros2control_drivebase_suspension_pivot side="l"/>
        <xacro:ros2control_drivebase_suspension_pivot side="r"/>

        <!-- TODO: Drivebase turn motors -->
    </ros2_control>

    <xacro:if value="$(arg is_simulation)">
        <gazebo>
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find rover)/config/drivebase/swerve_drive_controller.yaml</parameters>
            </plugin>
        </gazebo>
    </xacro:if>
</robot>