log/*
install/*
**/build/*
**/target/*
**/Drivers/*
**/production/*
.pio
.vscode
.cache
compile_commands.json
.devcontainer/.env
.devcontainer/devcontainer.json
*.lck
*.zip
*.csv
*.lck

# KiCad
**/*-backups
**/*-cache
**/*.bak
**/*-bak
**/*.kicad_prl
**/fp-info-cache
