# Artifacts
**/log/**
**/out/**
**/build/**
**/install/**
**/production/**

# Code
compile_commands.json
*.wzrd
**/target/**

# KiCad
*.bak
*.lck
*.kicad_prl

*-bak
*-cache
*-backups
**/\#auto_saved_files\#/**

# Other
.devcontainer/.env
.devcontainer/devcontainer.json

**/.vscode/**
**/.cache/**
