<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <xacro:macro name="motor_stepper" params="name subject_id">
        <ros2_control name="$motor_stepper_{name}" type="actuator">
            <hardware>
                <plugin>bg431esc1_actuator::Bg431esc1Actuator</plugin>
                <param name="subject_id">${subject_id}</param>
            </hardware>
            <joint name="${name}">
                <command_interface name="position"/>
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
