<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Specify the joints that are in a single swerve module, limits are specified in joint declaration! -->
    <xacro:if value="$(arg is_simulation)">
        <xacro:macro name="ros2control_swerve_module_iface" params="name drive_id turn_id">
            <joint name="db_${name}_fork_tyre_joint">
                <command_interface name="velocity">
                    <limits enable="true"/>
                </command_interface>
        
                <xacro:if value="$(arg is_simulation)">
                    <!-- TODO: currently our hw interface doesn't have state publishing! -->
                    <state_interface name="position"/>
                    <state_interface name="velocity"/>
                </xacro:if>
            </joint>
            <joint name="db_${name}_smount_fork_joint">
                <command_interface name="position">
                    <limits enable="true"/>
                </command_interface>
        
                <xacro:if value="$(arg is_simulation)">
                    <!-- TODO: currently our hw interface doesn't have state publishing! -->
                    <state_interface name="position"/>
                    <state_interface name="velocity"/>
                </xacro:if>
            </joint>
        </xacro:macro>

        <xacro:macro name="ros2control_drivebase_suspension_pivot" params="side">
            <joint name="${side}db_pivot_joint">
                <state_interface name="position"/>
            </joint>
        </xacro:macro>
    </xacro:if>


    <xacro:unless value="$(arg is_simulation)">
        <xacro:macro name="ros2control_swerve_module_iface" params="name drive_id turn_id">
            <!-- TODO: set ratios correctly 
            <xacro:bg431_motor name="db_${name}_fork_tyre_joint" device_index="${drive_id}" ratio="1" use_auxilary="false"/>
            <xacro:bg431_motor name="db_${name}_smount_fork_joint" device_index="${turn_id}" ratio="1" use_auxilary="true"/>
            -->
        </xacro:macro>

        <xacro:macro name="ros2control_drivebase_suspension_pivot" params="side"/>
    </xacro:unless>

    <ros2_control name="RobotSystem" type="system">
        <xacro:if value="$(arg is_simulation)">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:if>

        <xacro:ros2control_swerve_module_iface name="fl" drive_id="3050" turn_id="3000"/>
        <xacro:ros2control_swerve_module_iface name="fr" drive_id="3060" turn_id="3010"/>
        <xacro:ros2control_swerve_module_iface name="bl" drive_id="3070" turn_id="3020"/>
        <xacro:ros2control_swerve_module_iface name="br" drive_id="3080" turn_id="3030"/>
        <xacro:ros2control_drivebase_suspension_pivot side="l"/>
        <xacro:ros2control_drivebase_suspension_pivot side="r"/>
    </ros2_control>
</robot>
