<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">
    <!-- DISABLED / SIMULATE / REAL --!>
    <xacro:arg name="state_drivebase" default="DISABLED"/> 
    <xacro:arg name="state_post_landing" default="DISABLED"/>
    <xacro:arg name="state_space_resources" default="DISABLED"/>
    <xacro:arg name="state_excavation_construction" default="DISABLED"/>
    <xacro:arg name="state_mapping" default="DISABLED"/>

    <xacro:unless value="$(arg is_simulation)">
        <xacro:include filename="utils/bg431_motor.xacro"/>
    </xacro:unless>
    <xacro:include filename="cameras/depth_cams.xacro" />
    <xacro:include filename="utils/inertial_macros.xacro" />
    <xacro:include filename="utils/materials.xacro" />

    <xacro:include filename="chassis/chassis.xacro" />
    <xacro:include filename="drivebase/drivebase.xacro" />
    <xacro:if value="$(arg is_simulation)">
        <xacro:include filename="utils/gazebo_plugins.xacro" />
    </xacro:if>
</robot>
