on:
  push

jobs:
  check-boards:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@v5
      - name: Check PCB's 
        run: .github/workflows/check_boards.sh
